body {
  background: #f4f4f4;
  font-family: sans-serif;
  font-weight: 100;
}

#main h1 {
  padding: 20px;
  border-bottom: 1px dashed #aaa;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.watsonData {
  display: flex;
  justify-content: space-around;
}

.needs {
  display: flex;
  justify-content: space-around;
}

.personality {
  display: flex;
  justify-content: space-around;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 40%;*/
}

input[name="subject"] {
  width: 40%;
}

textarea[name="email-body"] {
  width: 40%;
}

.tone {
  display: flex;
  justify-content: space-around;
}

.create-account {
  display: flex;
  justify-content: center;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.favorites-card {
  display: flex;
  border: 1px solid black;
}

.favorites-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.nav-menu li {
   display: inline;
   list-style-type: none;
}

.nav-menu ul:hover > ul {
   display:flex;
   flex-direction: column;
}

.clearfix {
  padding: 0;
  text-align: right;
  position: absolute;
}

.clearfix:after {
content: "";
display: table;
}

.sub-menu {
   display:none;
   padding: 0;
   background: #ccc;
}

.popup {
  border: 1px solid #777777;
  text-align: center;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
  background-color: white;
  color: black;
}

.popup-header {
  text-align: right;
}

.popup-exit-button {
  border: none;
  vertical-align: top;
  border-radius: 50%;
}

.popup-message {
  font-size: 25px;
}

.popup-buttons {
  display: flex;

}

.login-popup-button {
  background-color: #FC7169;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 22px;
}

.createAccount-popup-button {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 22px;
}
